@import "tailwindcss";

/* Optional: safer reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.ql-conitainer-area .ql-tooltip {
  left: 15px !important;
}